/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v2.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/

.clip {
  color: greenyellow;
}

#iFrameConsole{
  border: 6px solid rgb(48, 48, 48);
  border-style: ridge;
  background: #111;
}